.Tile {
    width: 1.4em;
    height: 1.25em;
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;


    flex-direction: row;
    margin: .07em;
    border-color: black;
    border-style: solid;
    font-size: x-large;
    border-width: 0.01em;
    border-radius: 0.1em;
    box-shadow: 0.05em 0.05em 0.05em gray;
}


.Tile.Selected {
    font-weight: bolder;
    background-color: lightgreen;
}

.Tile.UnSelected {
    font-weight: bold;
    background-color: rgb(224, 211, 178);
}


.Tile.Small .Points {
    font-size: x-small;
}

.Tile.Medium .Points {
    font-size: small;
}

.Tile.Large .Points {
    font-size: medium;
}

.Tile.Medium {
    font-size: x-large;
}


.Tile.Large {
    font-size: xx-large;
}

.Tile.Small {
    font-size: large;
}