.Game {
    width: 100%;
}

.Board {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
}

button {
    margin: 0.3em !important;
}

.Results {
    margin-top: 0.3em
}