.AllLetters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer; 
}

.comingSoon::after {
  content: "Coming Soon!";
  font-family:  'Caveat', cursive;
  font-size: medium;
  color: lightcoral;
  display: flex;
  flex-grow: 100;
}
